.backgroundwrap {
    width: 100%;
    position: relative;
}

.background1 {
    display: block;
    width: 60%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -2;
}

.background2 {
    width: 35%;
    position: absolute;
    top: 80px;
    right: 25vh;
    z-index: 0;
}

.background3 {
    display: none;
    width: 100%;
    margin-left: -30px;
    margin-bottom: 50px;
}

.imgtop {
    width: 71px;
    height: 71px;
    font-size: 20px;
    line-height: 71px;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 700;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball01.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 520px;
    right: 20px;
}

.header {
    max-width: 1088px;
    height: 100vh;
    margin: 0 auto;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    padding-left: 60px;
}

.logo {
    display: inline-block;
    width: 173px;
    height: 40px;
    margin-top: 15px;
}

.logoA {
    display: inline-block;
}

.headerButton {
    display: inline-block;
    width: 128px;
    height: 40px;
    margin-right: 50px;
    margin-top: 10px;
    background-color: #FF5D50;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    font: normal normal normal 16px/40px Noto Sans TC;
}

.headerContent {
    max-width: 1088px;
    margin-top: 120px;
    padding-left: 60px;
}

.h2_1 {
    display: block;
    width: 100%;
    padding-bottom: 8px;
    text-align: left;
    color: #56C4C5;
    font: normal normal bold 18px/26px Noto Sans TC;
}

.h2_2 {
    display: block;
    width: 100%;
    color: #221E1F;
    font: normal normal bold 48px/70px Noto Sans TC;
}

.h2_3 {
    display: block;
    width: 100%;
    margin-top: 16px;
    color: #221E1F;
    font: normal normal normal 20px/29px Noto Sans TC;
}


/* container */

.container {
    max-width: 1088px;
    margin: 0 auto;
}

.content_1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.content_1 h2 {
    color: #221E1F;
    margin-bottom: 42px;
    font: normal normal bold 32px/46px Noto Sans TC;
}

.card_1 {
    display: flex;
    flex-wrap: wrap;
}

.card_item_1 {
    width: 25%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.card_item_1 img {
    width: 90px;
    margin-bottom: 24px;
}

.card_item_1 h2 {
    letter-spacing: 0px;
    padding-bottom: 10px;
    color: #221E1F;
    font: normal normal bold 24px/35px Noto Sans TC;
}

.card_item_1 p {
    letter-spacing: 0px;
    margin-bottom: 24px;
    color: #747474;
    font: normal normal normal 16px/24px Noto Sans TC;
}


/* div2 */

.content_2 {
    /* max-width: 1088px; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.content_2 h2 {
    margin-bottom: 16px;
    letter-spacing: 0px;
    opacity: 1;
    color: #221E1F;
    font: normal normal bold 32px/46px Noto Sans TC;
}

.content_2 p {
    color: #221E1F;
    font: normal normal normal 20px/29px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.card_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 48px auto 100px;
}

.card_item_2 {
    width: 23%;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 1px 2px 9px 2px #bbb8b8;
}

.card_item_2 img {
    max-width: 100%;
}

.card_item_2 h2 {
    margin: 16px auto;
    color: #56C4C5;
    font: normal normal bold 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.card_item_2 p {
    padding: 0 16px 24px;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    opacity: 1;
}

.content_3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 25px;
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.leftcontent {
    width: 50%;
    text-align: left;
    margin: 0 auto;
}

.card_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 8%;
    margin: 0 auto;
}

.card_item_3 {
    /* width: 280px; */
    width: 46%;
    padding: 15px;
    padding-bottom: 48px;
    border-radius: 10px;
    box-shadow: 1px 2px 9px 2px #bbb8b8;
    margin-bottom: 5%;
}

.card_item_3 .item_img img {
    width: 100%;
    height: 100%;
}

.item_img {
    width: 62px;
    padding: 10px;
    margin-bottom: 41px;
    border-radius: 60%;
    box-shadow: 1px 2px 9px 2px #bbb8b8;
}

.card_item_3 h2 {
    margin-bottom: 16px;
    color: #221E1F;
    font: normal normal bold 18px/26px Noto Sans TC;
}

.card_item_3 p {
    margin-bottom: 30px;
    color: #221E1F;
    font: normal normal normal 16px/24px Noto Sans TC;
}

.rightcentent {
    width: 50%;
    text-align: left;
    padding-left: 50px;
    padding-top: 120px;
}

.rightcentent h2 {
    margin-bottom: 25px;
    color: #221E1F;
    font: normal normal bold 32px/46px Noto Sans TC;
}

.rightcentent p {
    width: 100%;
    margin-bottom: 25px;
    color: #221E1F;
    font: normal normal normal 18px/26px Noto Sans TC;
}

.rightcentent a {
    width: 136px;
    height: 49px;
    padding: 5px;
    display: block;
    border-radius: 25px;
    margin-left: 5px;
    background-color: #56C4C5;
    text-align: center;
    color: #FFFFFF;
    font: normal normal normal 18px/39px Comfortaa;
}


/* div4 */

.content_4 {
    margin: 100px auto 50px;
    text-align: center;
}

.content_4 h2 {
    margin-bottom: 48px;
    text-align: center;
    color: #221E1F;
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.card_4 {
    /* width: 80%; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 0 auto 34px;
}

.card_item_4 {
    width: 29%;
    /* width: 352px; */
    /* margin-left: 20px; */
    padding: 32px;
    padding-bottom: 0;
    margin-top: 56px;
    position: relative;
    text-align: left;
    border-radius: 10px;
    box-shadow: 1px 2px 9px 2px #bbb8b8;
}

.card_item_4>img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: -54px;
}

.card_item_4 p {
    margin: 48px 0;
    text-align: left;
    color: #221E1F;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.card_item_4 .mb70 {
    margin-bottom: 70px;
}

.card_item_4 h3 {
    margin-bottom: 8px;
    text-align: left;
    color: #221E1F;
    font: normal normal bold 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.divT {
    display: flex;
}

.divL {
    width: 50%;
    padding-left: 15px;
    margin-bottom: 24px;
    text-align: left;
    color: #221E1F;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.divR {
    width: 50%;
    text-align: right;
}

.divR img {
    width: 15%;
    vertical-align: sub;
}

.list {
    display: flex;
    width: 150px;
    margin: 10px auto;
}

.lists {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: #DDDDDD;
}

.current {
    width: 20px;
    height: 10px;
    background-color: #FFD153;
}


/* div5 */

.footer {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
}

.footer h3 {
    margin-top: 260px;
    margin-bottom: 60px;
    text-align: center;
    color: #221E1F;
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.footer a {
    display: block;
    width: 136px;
    height: 49px;
    margin: 0 auto;
    margin-bottom: 200px;
    background: #56C4C5 0% 0% no-repeat padding-box;
    border: 1px solid #56C4C5;
    border-radius: 27px;
    text-align: center;
    color: #FFFFFF;
    font: normal normal normal 18px/49px Comfortaa;
    letter-spacing: 0px;
    opacity: 1;
}

.footer p {
    padding: 2%;
    text-align: center;
    color: #221E1F;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

@media (max-width: 992px) {
    .card_4 {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .card_item_4 {
        width: 60%;
        padding-bottom: 50px;
        margin: 25px auto;
        margin-bottom: 55px;
    }
    .card_4 p {
        margin-top: 150px;
    }
    .card_2 {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .card_item_2 {
        width: 45%;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .background1 {
        display: block;
    }
    .background2 {
        width: 30%;
        position: absolute;
        top: 80px;
        right: 10vh;
        z-index: 1;
    }
    .background3 {
        margin-top: 30px;
    }
    .headerContent {
        width: 100%;
        margin-top: 100px;
        padding-left: 10px;
    }
    .h2_1 {
        margin-bottom: 15px;
        text-align: left;
        color: #56C4C5;
        font: normal normal bold 13px/21px Noto Sans TC;
    }
    .h2_2 {
        color: #221E1F;
        font: normal normal bold 29px/43px Noto Sans TC;
    }
    .h2_3 {
        margin-top: 15px;
        color: #221E1F;
        font: normal normal normal 13px/21px Noto Sans TC;
    }
    .content_1 {
        padding-top: 60px;
    }
    .header {
        height: auto;
    }
    .h2_1 {
        width: 100%;
        padding: 5px;
    }
    .h2_2 {
        width: 100%;
        padding: 5px;
    }
    .h2_3 {
        width: 100%;
        padding: 5px;
    }
    .card_item_1 {
        width: 60%;
        padding-bottom: 50px;
        margin: 10px auto;
    }
    .card_2 {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .card_item_2 {
        width: 45%;
        margin-bottom: 15px;
    }
    .content_3 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
    }
    .imgtop {
        top: 250px;
    }
    /* div3 */
    .leftcentent {
        width: 100%;
        /* text-align: left;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2; */
        padding-right: 15%;
    }
    .card_3 {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-right: 16%;
    }
    .card_item_3 {
        width: 48%;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 1px 2px 9px 2px #bbb8b8;
    }
    .card_item_3 .item_img img {
        width: 100%;
        height: 100%;
    }
    .item_img {
        text-align: center;
        padding: 5px;
        margin-right: 80px;
        margin-bottom: 15px;
        border-radius: 43px;
        box-shadow: 1px 2px 9px 2px #bbb8b8;
    }
    .card_item_3 h2 {
        margin-bottom: 15px;
        color: #221E1F;
        font: normal normal bold 18px/26px Noto Sans TC;
    }
    .card_item_3 p {
        margin-bottom: 30px;
        color: #221E1F;
        font: normal normal normal 16px/24px Noto Sans TC;
    }
    .rightcentent {
        width: 100%;
        padding-right: 60px;
        padding-top: 120px;
        margin-bottom: 50px;
        text-align: center;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    .card_3 {
        display: flex;
        flex-wrap: wrap;
        padding-left: 50px;
        margin: 0 auto;
    }
    .rightcentent h2 {
        margin-bottom: 25px;
        color: #221E1F;
        font: normal normal bold 20px/46px Noto Sans TC;
    }
    .rightcentent p {
        width: 100%;
        margin-bottom: 25px;
        color: #221E1F;
        font: normal normal normal 10px/26px Noto Sans TC;
    }
    .rightcentent a {
        display: block;
        width: 136px;
        height: 49px;
        padding: 5px;
        margin: 15px auto;
        margin-left: 35%;
        border-radius: 25px;
        background-color: #56C4C5;
        text-align: center;
        color: #FFFFFF;
        font: normal normal normal 18px/39px Comfortaa;
    }
    /* div4 */
    .card_4 {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .card_item_4 {
        width: 100%;
        margin: 25px auto;
        margin-bottom: 25px;
    }
    .footer h3 {
        margin: 0;
        margin-bottom: 10%;
        text-align: center;
        color: #221E1F;
        font: normal normal bold 24px/35px Noto Sans TC;
        letter-spacing: 0px;
        opacity: 1;
    }
    .footer a {
        margin-bottom: 100px;
    }
}

@media (max-width: 375px) {
    .wrap {
        background: none;
    }
    .background1 {
        display: none;
    }
    .background2 {
        width: 70%;
        position: absolute;
        top: 300px;
        right: 25vh;
        z-index: 1;
    }
    .background3 {
        display: block;
        width: 80%;
        margin-left: 10px;
        margin-top: 130px;
        z-index: -1;
    }
    .headerTop {
        display: flex;
        justify-content: space-between;
        width: 375px;
        height: 72px;
        padding: 16px 25px 16px 21px;
        border-bottom: 2px solid rgb(209, 161, 28);
    }
    .logo {
        display: inline-block;
        height: 24px;
        margin-top: 15px;
        margin-right: 76px;
    }
    .headerButton {
        display: inline-block;
        width: 128px;
        height: 40px;
        margin-right: 20px;
        color: #fff;
        background-color: #FF5D50;
        border-radius: 20px;
        text-align: center;
        font: normal normal normal 16px/40px Noto Sans TC;
    }
    .headerContent {
        width: 100%;
        margin-top: 10px;
    }
    .h2_1 {
        margin-bottom: 15px;
        text-align: left;
        color: #56C4C5;
        font: normal normal bold 16px/24px Noto Sans TC;
    }
    .h2_2 {
        color: #221E1F;
        font: normal normal bold 32px/46px Noto Sans TC;
    }
    .h2_3 {
        margin-top: 15px;
        color: #221E1F;
        font: normal normal normal 16px/24px Noto Sans TC;
    }
    .header {
        height: auto;
        margin-bottom: 32px;
    }
    .h2_1 {
        width: 100%;
        margin-bottom: 8px;
    }
    .h2_2 {
        width: 100%;
        margin-bottom: 16px;
    }
    .h2_3 {
        width: 100%;
        padding: 5px;
        margin: 5px;
    }
    .imgtop {
        width: 50px;
        height: 50px;
        /* 定位的top */
        top: 620px;
        font: normal normal normal 14px/50px Wendy One;
    }
    .background2 {
        width: 304px;
        height: 305px;
        /* 定位的top right */
        top: 330px;
        right: 50px;
    }
    .background3 {
        right: 5px;
    }
    .card_item_1 {
        width: 100%;
        padding: 0px;
        margin: 30px;
    }
    .card_2 {
        padding: 20px;
    }
    .card_item_2 {
        width: 100%;
    }
    .rightcentent a {
        margin: 15px auto;
    }
    .card_3 {
        padding: 25px;
    }
    .card_item_3 {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
        border-radius: 10px;
        box-shadow: 1px 2px 9px 2px #bbb8b8;
    }
    .card_item_3 h2 {
        margin-bottom: 30px;
    }
    .card_item_3 p {
        margin-bottom: 60px;
    }
    .item_img {
        width: 62px;
        text-align: center;
        padding: 10px;
        margin: 25px 80px 30px 0;
        border-radius: 80px;
        box-shadow: 1px 2px 9px 2px #bbb8b8;
    }
    .rightcentent h2 {
        margin-bottom: 25px;
        color: #221E1F;
        font: normal normal bold 18px/26px Noto Sans TC;
    }
    .rightcentent p {
        width: 100%;
        margin-bottom: 25px;
        color: #221E1F;
        font: normal normal normal 16px/24px Noto Sans TC;
    }
    /* div4 */
    .card_4 {
        padding: 20px;
    }
    .card_item_4 {
        width: 100%;
    }
    .card_item_4 img {
        top: -50px;
    }
    .card_item_4 p {
        margin-top: 48px;
        margin-bottom: 32px;
    }
    .card_item_4 h3 {
        margin-bottom: 8px;
    }
    .list {
        margin-top: 24px;
    }
    .footer {
        width: 100%;
        padding-top: 250px;
        text-align: center;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/footer_sm.svg");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .footer h3 {
        margin: 0;
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
        color: #221E1F;
        font: normal normal bold 24px/35px Noto Sans TC;
        letter-spacing: 0px;
        opacity: 1;
    }
    .footer a {
        width: 136px;
        height: 49px;
        margin-bottom: 100px;
    }
}