.wrap {
    width: 100%;
    position: relative;
}

.bg1 {
    display: block;
    width: 60%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -2;
}

.bg2 {
    width: 35%;
    position: absolute;
    top: 80px;
    right: 25vh;
    z-index: 0;
}

.bg3 {
    display: none;
    width: 100%;
    margin-left: -30px;
    margin-bottom: 50px;
}

.header {
    width: 100%;
    height: 470px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px 24px 142px;
    margin-bottom: 92px;
}

.top {
    width: 71px;
    height: 71px;
    font-size: 20px;
    text-align: center;
    line-height: 71px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 700;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball01.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 800vh;
    right: 20px;
}

.logo {
    display: inline-block;
    width: 173px;
    height: 40px;
    margin-top: 15px;
}

.logoA {
    display: inline-block;
}

.headerButton {
    display: inline-block;
    width: 128px;
    height: 40px;
    margin-right: 50px;
    margin-top: 10px;
    background-color: #FF5D50;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    font: normal normal normal 16px/40px Noto Sans TC;
}

.headerContent {
    width: 100%;
    padding-left: 139px;
}

.headerContent h2 {
    margin-bottom: 16px;
    text-align: left;
    color: #221E1F;
    font: normal normal bold 48px/70px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.headerContent p {
    text-align: left;
    color: #221E1F;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1
}

.container {
    max-width: 1088px;
    margin: 0 auto;
    /* padding: 5% 10%; */
}

.Citem {
    width: 570px;
}

.Citem>h2 {
    margin: 10px auto 48px;
}

.container h2 {
    text-align: center;
    color: #221E1F;
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.headerh2 {
    margin-top: 11px 196px 48px 201px;
    text-align: center;
    color: #221E1F;
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.lists {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 50px auto;
    text-align: center;
}

a {
    color: #56C4C5;
}

.item {
    width: 130px;
    height: 50px;
    border: 1px solid #56C4C5;
    border-radius: 27px;
    /* margin: 15px 10px; */
    text-align: center;
    color: #56C4C5;
    font: normal normal normal 18px/50px Comfortaa;
    letter-spacing: 0px;
    opacity: 1;
}

.itemcolor {
    color: #56C4C5;
}

.change {
    background: #56C4C5 0% 0% no-repeat padding-box;
    border: 1px solid #56C4C5;
    border-radius: 27px;
    color: #FFFFFF;
    opacity: 1;
}

.change a {
    color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    gap: 25px;
}

.Citem {
    width: 48.11%;
    box-shadow: 0px 2px 10px #00000014;
}

.item2 img {
    width: 20px;
}

.item2 p {
    display: inline-block;
}

.Citem p {
    text-align: center;
}

.Citem h2 {
    padding: 15px 0;
    text-align: center;
    border: 1px solid #DDDDDD;
    color: #221E1F;
    font: normal normal bold 24px/35px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.Citem .mt {
    text-align: center;
    color: #221E1F;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.Citem .mb {
    margin-bottom: 32px;
    text-align: center;
    color: #221E1F;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.divA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 169px; */
    width: 43.1%;
    height: 108px;
    padding: 24px auto;
    margin: 50px 20px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
    opacity: 1;
}

.box .divA h2 {
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
    color: #221E1F;
    font: normal normal normal 12px/17px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.box .divA p {
    padding-bottom: 15px;
    margin-bottom: 32px;
    text-align: center;
    color: #56C4C5;
    font: normal normal normal 32px/35px Comfortaa;
    letter-spacing: 0px;
    opacity: 1;
}

.divA span {
    text-align: left;
}

.icon {
    margin: auto 17px;
    color: #221E1F;
    font: normal normal normal 29px/42px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.Citem span {
    text-align: left;
    color: #221E1F;
    font: normal normal normal 29px/42px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.divA span {
    text-align: center;
    color: #56C4C5;
    font: normal normal bold 12px/17px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.box {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.item2 {
    margin-bottom: 16px;
}

.item2 p {
    margin-left: 16px;
    color: #221E1F;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    opacity: 1;
}

.btn {
    display: block;
    width: 136px;
    padding: 8px 0;
    margin: 32px auto;
    background: #56C4C5 0% 0% no-repeat padding-box;
    border: 1px solid #56C4C5;
    border-radius: 27px;
    text-align: center;
    color: #FFFFFF;
    font: normal normal normal 18px/26px Comfortaa;
    letter-spacing: 0px;
    opacity: 1;
}

.m-lf20 {
    margin: 0 20px;
}

.Qh2 {
    width: 100%;
    margin: 100px auto 48px;
}

@media(max-width:955px) {
    .headerTop {
        display: flex;
        justify-content: space-between;
        padding: 22px;
        padding-left: 20px;
        background-color: #fff;
    }
    .logo {
        display: inline-block;
        /* width: 173px; */
        height: 24px;
        margin-top: 15px;
    }
    .logoA {
        display: inline-block;
    }
    .top {
        top: 90vh;
    }
    .headerButton {
        display: inline-block;
        width: 128px;
        height: 40px;
        margin-right: 0px;
        margin-top: 10px;
        background-color: #FF5D50;
        border-radius: 20px;
        text-align: center;
        color: #fff;
        font: normal normal normal 16px/40px Noto Sans TC;
    }
    .lists {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 955px;
        margin: 50px auto;
        text-align: center;
    }
    .link {
        color: #56C4C5;
    }
    .link:link {
        color: #56C4C5;
    }
    .link:visited {
        color: #56C4C5;
    }
    .link:hover {
        color: #56C4C5;
    }
    .link:active {
        color: #56C4C5;
    }
    .item {
        width: 45%;
        padding: 5px 7px;
        margin: 15px auto;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #56C4C5;
        border-radius: 27px;
        text-align: center;
        color: #56C4C5;
        font: normal normal normal 18px/26px Comfortaa;
        letter-spacing: 0px;
        opacity: 1;
    }
    .container {
        max-width: 1088px;
        margin: 64px auto 100px;
        padding: 0 0;
    }
    .Citem {
        width: 570px;
        margin: auto;
    }
    .box {
        display: flex;
        justify-content: center;
        margin: 50px auto;
    }
    .item2 {
        margin: 25px 0px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        opacity: 1;
    }
    .mt {
        padding-bottom: 20px;
    }
    .divA {
        margin: 3px 3px;
    }
    .divA h2 {
        padding-top: 15px;
    }
    .divA p {
        padding-bottom: 15px;
    }
    .btn {
        margin: 20px auto;
    }
    .change {
        background: #56C4C5 0% 0% no-repeat padding-box;
        border: 1px solid #56C4C5;
        border-radius: 27px;
        color: #FFFFFF;
        opacity: 1;
    }
    .change .link {
        color: #FFFFFF;
    }
}

.wrapH2 {
    margin: 25px auto;
    color: #221E1F;
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
}

.Qlist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px 16px 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
}

.Qlist h3 {
    color: #221E1F;
    font: normal normal normal 18px/28px Noto Sans TC;
    letter-spacing: 0px;
}

.Qlist a img {
    width: 20px;
    height: 20px;
}

.as {
    margin-bottom: 132px;
}

.as p {
    color: #747474;
    font: normal normal normal 16px/32px Noto Sans TC;
    letter-spacing: 0px;
}

div .show h3 {
    color: #56C4C5;
}

footer p {
    margin: 16px auto;
    text-align: center;
    background-color: #fff;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    color: #221E1F;
    font: normal normal normal 16px/56px Noto Sans TC;
    letter-spacing: 0px;
}

.top {
    top: 50vh;
}

@media (max-width: 375px) {
    .wrap {
        background: none;
    }
    .bg1 {
        display: none;
    }
    .bg2 {
        width: 70%;
        position: absolute;
        top: 300px;
        right: 25vh;
        z-index: 1;
    }
    .bg3 {
        display: block;
        width: 80%;
        margin-left: 10px;
        margin-top: 130px;
        z-index: -1;
    }
    .headerTop {
        display: flex;
        justify-content: space-between;
        padding: 22px;
        padding-left: 20px;
        background-color: #fff;
    }
    .logo {
        /* width: 173px; */
        display: inline-block;
        height: 24px;
        margin-top: 15px;
    }
    .logoA {
        display: inline-block;
    }
    .headerButton {
        display: inline-block;
        width: 128px;
        height: 40px;
        margin-right: 0px;
        margin-top: 10px;
        background-color: #FF5D50;
        border-radius: 20px;
        text-align: center;
        color: #fff;
        font: normal normal normal 16px/40px Noto Sans TC;
    }
    .headerContent {
        width: 100%;
        padding-left: 20px;
        margin-top: 10px;
    }
    .header {
        height: 700px;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/banner_sm.svg");
        /* width: 100%; */
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 100px;
    }
    .headerContent h2 {
        text-align: left;
        color: #221E1F;
        font: normal normal bold 32px/46px Noto Sans TC;
        letter-spacing: 0px;
        opacity: 1;
    }
    .headerContent p {
        text-align: left;
        color: #221E1F;
        font: normal normal normal 16px/24px Noto Sans TC;
        letter-spacing: 0px;
        opacity: 1;
    }
    .lists {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .link {
        color: #56C4C5;
    }
    .link:link {
        color: #56C4C5;
    }
    .link:visited {
        color: #56C4C5;
    }
    .link:hover {
        color: #56C4C5;
    }
    .link:active {
        color: #56C4C5;
    }
    .item {
        width: 50%;
        /* width: 90px; */
        height: 40px;
    }
    .change {
        background: #56C4C5 0% 0% no-repeat padding-box;
        border: 1px solid #56C4C5;
        border-radius: 27px;
        color: #FFFFFF;
        opacity: 1;
    }
    .change .link {
        color: #FFFFFF;
    }
    .divA {
        width: 45%;
    }
    .divA h2 {
        padding-top: 15px;
    }
    .divA p {
        padding-bottom: 15px;
    }
    .top {
        top: 105vh;
    }
}